/* FeatureCard.module.css */

.featureCard {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  align-items: center;
}

.darkMode {
  background-color: #333;
  color: #BDBDBD;
  text-align: left;
}

.icon {
  color: #5f5858; /* Warna default untuk mode terang */
}

.darkModeIcon {
  color: #BDBDBD; /* Warna khusus untuk mode gelap */
}

.ml4 {
  margin-left: 1rem;
}

.textLgFontSemibold {
  font-size: 1.125rem; /* Text LG */
  font-weight: 600; /* Font Semibold */
  text-align: left;
}

.textGray600 {
  color: #4a4a4a; /* Gray in light mode */
  text-align: left;
}

.textGray400 {
  color: #bdbdbd; /* Gray in dark mode */
  text-align: left;
}
