/* Dark mode styling */
/* body.dark-mode {
  background-color: #1a1a1a;
  color: #f3f3f3;
}

body.dark-mode .navbarContainer {
  background-color: #333;
}

body.dark-mode .navLink {
  color: #f3f3f3;
}

body.dark-mode .profileButton {
  background-color: #555;
  color: #f3f3f3;
} */

/* Navbar.module.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 16px;
  height: 80px;
  padding-left: 0;
  padding-right: 0;
  color: var(--text-color);
}

.logoContainer {
  flex: 1;
  padding-left: 30px;
}

.logo {
  height: 150px;
  width: auto;
}

.navbarContainer {
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  gap: 16px; /* Space between navbar items */
}

.signIn {
  color: #7D0A0A;
  font-weight: bold;
  margin-right: 16px;
}

.navLinks {
  display: flex;
  gap: 28px; /* Consistent space between links */
  margin-left: 0; /* Removed extra margin */
  align-items: center; /* Vertically align the links */
}

.navLink {
  color: #7D0A0A;
  font-weight: medium;
  text-decoration: none;
  margin-right: 0; /* Reset margin to be consistent */
}

.navLink:hover {
  color: #7D0A0A;
}

/* .profileButton {
  
 
  border: none;
  padding: 15px 15px;
  border-radius: 50%;
  font-weight: bold;
} */

/* Mode toggle icon styling */
.modeToggle img {
  width: 28px; /* Adjust the size as needed */
  height: 28px;
  transition: transform 0.3s ease;
}

.modeToggle img:hover {
  transform: rotate(20deg); /* Adds a slight rotation on hover */
}

/* Light Mode Styles */
.light-mode {
  background-color: #FFFFFF; /* Background untuk light mode */
  color: #000000; /* Warna teks untuk light mode */
}

.light-mode .navLink {
  color: #7D0A0A; /* Warna link untuk light mode */
  
}

.light-mode .profileButton {
  background-color: #EAD196; /* Warna background untuk tombol profil */
  color: #7D0A0A; /* Warna teks untuk tombol profil */
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #0D0D0D; /* Background untuk dark mode */
  color: #D7B66A; /* Warna teks untuk dark mode */
}

.dark-mode .navLink {
  color: #D7B66A; /* Warna link untuk dark mode */
}

/* .dark-mode .profileButton {
  background-color: #D7B66A; 
} */