/* dark-light-mode.css */

/* Default Light Mode Styles */
:root {
    --font-color: #000000; /* Warna font default (light mode) */
    --container-bg-color: #ffffff; /* Warna background container default (light mode) */
    --profile-button-bg: #EAD196; /* Warna background button profile (light mode) */
    --profile-button-color: #7D0A0A; /* Warna font button profile (light mode) */
  }
  
  /* Dark Mode Styles */
  @media (prefers-color-scheme: dark) {
    :root {
      --font-color: #ffffff; /* Warna font untuk dark mode */
      --container-bg-color: #1a1a1a; /* Warna background container untuk dark mode */
      --profile-button-bg: #D7B66A; /* Warna background button profile (dark mode) */
      --profile-button-color: #5B0A0A; /* Warna font button profile (dark mode) */
    }
  }
  
  /* Global Styles */
  body {
    color: var(--font-color);
    background-color: var(--container-bg-color);
  }
  
  /* Profile Button Styles */
  .profile-button-container {
    background-color: var(--profile-button-bg);
    color: var(--profile-button-color);
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
  }
  