.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
}

.logo {
    width: 100px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #900;
    font-weight: bold;
}

.signOut {
    color: #900;
    font-weight: bold;
}

.citButton {
    background-color: #E5C38C;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
}

.main {
    padding: 50px;
}

.profile {
    margin-bottom: 40px;
}

.avatar {
    background-color: #F3EDC8;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    margin-top: 50px;
}

.name {
    font-size: 24px;
    color: #555;
    text-align: center;
}

.attendanceHistory h2 {
    color: #900;
    margin-top: 100px;
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.historyItem {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

.footer {
    padding: 20px;
    background-color: #900;
    color: #fff;
}

.footerNav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.footerNav a {
    text-decoration: none;
    color: #fff;
}