/* Light Mode (Default) */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  padding: 2rem 1rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  color: #584B4B;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-family: 'Baloo 2', sans-serif;
  font-weight: bold;
}

.cardSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.card {
  background-color: #7D0A0A;
  color: #EAD196;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 800px;
}

.cardTitle {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
  font-family: 'Baloo 2', sans-serif;
}

.members {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.member {
  text-align: center;
}

.avatar {
  background-color: #F3EDC8;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 1.2rem;
  font-family: 'Baloo 2', sans-serif;
}

/* Dark Mode */
.dark-mode .container {
  background-color: #1E1E1E; /* Warna latar belakang untuk dark mode */
  color: #BDBDBD; /* Warna teks umum untuk dark mode */
}

.dark-mode .mainContent {
  padding: 2rem 1rem;
  text-align: center;
}

.dark-mode .title {
  color: #BDBDBD; /* Warna teks judul di dark mode */
}

.dark-mode .card {
  background-color: #5B0A0A; /* Warna latar belakang kartu di dark mode */
  color: #D7B66A; /* Warna teks kartu di dark mode */
}

.dark-mode .cardTitle {
  color: #D7B66A; /* Warna teks judul kartu di dark mode */
  font-weight: bold;
}

.dark-mode .avatar {
  background-color: #3F3C38; /* Warna latar belakang avatar di dark mode */
}

.dark-mode .name {
  color: #D7B66A; /* Warna teks nama di dark mode */
}
